/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Lato', sans-serif;
}
.flex {
    display: flex;
}
.black {
    background-color: black;
}
.txt14 {
    font-size: 14px;
}

/* HEADER */
.header-options {
    height: 80px;
    justify-content: flex-end;
}

.header-options-color {
    background-color: #4a4a4a;
    color: #e3e9e4;
}
.typeview, .fullscreen {
    height: 30%;
    align-items: center;
    margin: 5px 10px 0 0;
    border-radius: 5px;
}
.typeview {
    width: 8%;
}
.typeview i {
    padding: 3% 5% 0 5%;
}
.fullscreen {
    padding: 1px 5px;
}



/* MAIN */
.speakers-menu {
    height: calc(100vh - 160px);

    /* TEST */
    background-color: cornflowerblue;
}

/* FOOTER */
.footer-options {
    height: 80px;

    /* TEST */
    background-color: darkcyan;
}